# Quarto build outputs
_output/
.quarto/

# Editor settings
.vscode/

# OS noise
.DS_Store
Thumbs.db

/.quarto/
**/*.quarto_ipynb

/.luarc.json
beamercolorthemetue2018plain.sty
beamerfontthemetue2018plain.sty
beamerouterthemetue2018plain.sty
beamerthemetue2018.sty
TUe-logo-descriptor-line-scarlet-rgb.pdf
TUe-logo-descriptor-stack-white.pdf
TUe-logo-scarlet-rgb.pdf
TUe-logo-white.pdf
